* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    font-size: 62.5%;

    --color-text: #ffffff;
    --primary-color: #2A86FF;
    --secondary-color: #ffffff;
    --gradient: linear-gradient(to right, #2A86FF, #1ca5c7);
    --bg-green: #ffffff;
    --bg-white: #d1dce9;
    --bg-black: #020a14;
    --bg: #141414; 

    --nav-height: 7.2rem;
}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    text-align: center;

  }

  body {
    background: var(--bg-black);
    overflow-x: hidden;
  }

  ul {
    list-style: none;
  }

  ::selection {
  color: #000000;
  background: #d8d8d8;
}

 section {
    padding-block: 5rem;
  }

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  @media (min-width: 1080px) {
    .wrapper {
      width: min(100rem, 100%);
    }

    section {
      padding-block: 8rem;
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(110rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(120rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(140rem, 100%);
    }
  }
  
 

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .6rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: var(--secondary-color);
  border-radius: 1rem;
}

  /* buttonWhatsapp =================== */
#buttonWhatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
  
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
  }
  
  #buttonWhatsapp img {
    width: 6rem;
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp svg:hover {
    transform: scale(1.1);
  }

.custom-shape-divider-bottom-1758742448 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.custom-shape-divider-bottom-1758742448 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 44px;
}

.custom-shape-divider-bottom-1758742448 .shape-fill {
    fill: var(--bg-white);
}

.custom-shape-divider-bottom-1758742448.image .shape-fill {
    fill: #020b1d;
}

.custom-shape-divider-bottom-1764100427 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.custom-shape-divider-bottom-1764100427 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 44px;
}

.custom-shape-divider-bottom-1764100427 .shape-fill {
   fill: #040f27;
}