@import './global.css';
@import './home.css';
@import './button.css';
@import './head.css';
@import './author.css';
@import './sectionAte.css';
@import './sectionTentou.css';
@import './sectionDor.css';
@import './sectionHistoria.css';
@import './sectionMetodo.css';
@import './sectionCamera.css';
@import './sectionCheckout.css';
@import './sectionFaq.css';
@import './sectionFinal.css';
@import './sectionDepoimentos.css';
@import './buttonWpp.css';

