#final {
    overflow: hidden;
    position: relative;

}

#final .content {
    position: relative;
    z-index: 2;
}

#final img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    opacity: 1;
}

#final a button {
    margin-top: 2rem;
}

#final h3 {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.071);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.122);

    padding: 2rem;
    border-radius: 1rem;

    color: #b6bdca;
    font-size: 1.6rem;
    font-weight: 400;

    margin-block: 1rem;
}

#final h3 span {
    font-weight: 500;
    color: #fff;
}

@media (min-width: 1080px) {
    section#final header {
        margin-bottom: 0;
    }

    section#final {
        padding-inline: 30%;
    }
}