#camera {
    overflow: hidden;
    position: relative;
    background: var(--bg-white);
    padding-bottom: 8rem;
}

#camera header h2 {
    color: #001328;
}

#camera header p {
    color: #001328;
}

#camera header p span {
    color: #001328;
}

#camera .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#camera .box.dois .cards {
    background: #c1ccd9;
    padding: 2.5rem;
    border-radius: 1rem;
}

#camera .card {
    display: flex;
    flex-direction: column;    
    align-items: start;
    justify-content: start;
    text-align: left;
    width: 100%;
    gap: 1rem;

    position: relative;

    background: #c1ccd9;
    padding: 2.5rem;
    border-radius: 1rem;
}

#camera .card img {
    width: 4rem;

    margin-bottom: 1rem;
}

#camera .card h3 {
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

#camera .card p {
    color: #001328;
    font-size: 1.5rem;
}

#camera .card p span {
    font-weight: 900;

    color: #000;
}

#camera .box.dois {
    margin-top: 4rem;
}

#camera .box.dois .topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#camera .box.dois .topic {
    background: linear-gradient(45deg, #070d26, #041121);
    padding: 2rem;
    padding-block: 3rem;
    border-radius: 1rem;

    text-align: left;
}

#camera .box.dois .topic h4 {
    color: #000000;
    font-size: 1rem;
    padding: .6rem;
    width: max-content;
    background: var(--gradient);
    border-radius: .4rem;
}

#camera .box.dois .topic h3 {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

#camera .box.dois .topic p {
    color: #aeb4bd;
    font-size: 1.3rem;
}

#camera a button {
    margin-top: 3rem;
}

@media (min-width: 1080px) {
    section#camera {
        padding-bottom: 10rem;
    }

    section#camera .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section#camera .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section#camera .box.dois .cards .card p {
        font-size: 1.6rem;
    }

    section#camera .card {
        padding-block: 3rem;
        height: 100%;
    }
    
    section#camera .box.dois .topics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section#camera .box.dois .topic {
        height: 100%;
        padding: 3rem;
    }

    section#camera .box.dois .topic p {
        font-size: 1.2rem;
    }
}