#metodo {
    overflow: hidden;
    position: relative;

    padding-bottom: 10rem;

    border-bottom: 1px solid #dadeff30;
    border-top: 1px solid #dadeff30;
}

#metodo .content {
    position: relative;
    z-index: 2;
}

#metodo img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    opacity: 1;
}

#metodo .border img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

#metodo .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#metodo .card {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.071);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    text-align: left;

    margin-top: -.3rem;
}

#metodo .card h3 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;

    margin-bottom: 1rem;
}

#metodo .card h3 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

#metodo .card p {
    color: #b6bdca;
    font-size: 1.4rem;
}

#metodo .resultado h3 {
     background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;

    margin-top: 3rem;
}

#metodo .resultado p {
    background: rgba(255, 255, 255, 0.071);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    width: 100%;
    color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    margin-top: 1rem;
}

#metodo a button {
    margin-top: 3rem;
}

@media (min-width: 1080px) {
    section#metodo .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    section#metodo .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section#metodo .cards .card {
        height: 100%;
        padding: 3rem;
    }

    section#metodo .resultado {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        gap: 1rem;
        width: 100%;
    }

    section#metodo .resultado h3 {
        margin-top: 0;
    }

    section#metodo .resultado p {
        margin-top: 0;
    }
}