#depoimentos {
    overflow: hidden;
    position: relative;

    padding-bottom: 10rem;

  border-radius: 5rem 5rem 0 0;
   background: #000;

   border-bottom: 1px solid #dadeff30;
    border-top: 1px solid #dadeff30;
}

#depoimentos .content {
    position: relative;
    z-index: 2;
}

#depoimentos img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    opacity: 1;
}


#depoimentos .cards {
    border-radius: 1rem;

    padding-bottom: 4rem;
}

#depoimentos .cards .card {
    position: relative;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
}

#depoimentos .cards .card .text {
    font-size: 1.6rem;
    background: #c1ccd9;
    font-weight: 500;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}

#depoimentos .cards .card .text p span {
    font-weight: 800;
}

#depoimentos .cards .card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    transition: all 300ms ease-in-out;
}

#depoimentos .wrapper.carrossel {
    position: relative;
}

.swiper-pagination-bullet {
    background-color: #0000002e; 
    opacity: 1; 
    width: 15px;
    height: 4px;
    border-radius: .3rem;
}
  
.swiper-pagination-bullet-active {
    background-color: #0080c9; 
}

.swiper-button-next {
    top: 45%;
    color: #ffffff; 
    transform: scale(.4);
}
  
.swiper-button-prev {
    top: 45%;
    color: #ffffff; 
    transform: scale(.4);
}

section#depoimentos a button {
    margin-top: 3rem;
}

@media (min-width: 1080px) {
    section#depoimentos .wrapper.botao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section#depoimentos header p {
        font-size: 1.4rem;
    }

    section#depoimentos .content .cards {
        overflow: initial;
        border-radius: 0;
    }

    section#depoimentos .card img {
    }

    section#depoimentos .swiper {
        position: relative;
    }

    section#depoimentos .swiper:before,
    section#depoimentos .swiper:after {
        content: '';
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        z-index: 2;
    }
    
    section#depoimentos .swiper:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #040f27);
    }
    
    section#depoimentos .swiper:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #041927);
    }

    section#depoimentos .wrapper.carrossel {
        position: relative;
        width: 100%;
        padding-inline: 0;

    }

    section#depoimentos img.logo {
        display: inherit;
        position: absolute;
    }
}