#dor {
    overflow: hidden;
    position: relative;
    background: var(--bg-black);

    padding-block: 0;
    padding-bottom: 8rem;
}

#dor .content {
    background: linear-gradient(45deg, #070d26, #041121);
    padding: 2rem;
    padding-block: 4rem;
    border-radius: 1rem;
}

#dor .content header {
    margin-bottom: 0;
}

#dor header h2 {
    color: #deeeff;
    padding-inline: 5%;
}

#dor header p {
    color: #f2f8ff;
}

#dor header p span {
    color: #f6faff;
}

#dor header h3 {
    width: 100%;
    font-size: 1.6rem;
    background: #c1ccd922;
    font-weight: 500;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 1rem;

    margin-block: 1rem;
}

@media (min-width: 1080px) {
    section#dor .content {
        padding: 3%;
        padding-inline: 10%;
    }

    section#dor .content header {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 4rem;

        text-align: left;
        align-items: start;
    }

    section#dor .content header h2 {
        padding-inline: 0;
        font-size: 3rem;
    }

    section#dor .content header h3 {
        margin-block: 0;
        margin-top: 1rem;
        text-align: center;
    }

    section#dor .content .box {
        margin-top: 1rem;
    }

    section#dor .content .box.dois {
        position: relative;
        padding-left: 2rem;

        margin-top: 0;
    }

    section#dor .content .box.dois::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        border-radius: 4rem;
        left: 0;
        top: 0;
        background: #deeeff2b;
    }
}